.btn-group {
    width: 100%;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #343a40;
    color: #343a40;
    padding: 10px;
    padding-right: 38px;
    appearance: none;
    margin: 10px 0px 10px 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Adding transition effect */
    transition: color 0.3s ease, background-color 0.3s ease,
        border-bottom-color 0.3s ease;
}

.dropdown-toggle::after {
    float: right;
}
